<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="analyzethis.ZPM">
    <Module>
      <Name>analyzethis</Name>
      <Description>Module that helps to generate cubes, pivots and dashboards vs IRIS data</Description>
      <Version>1.2.7</Version>
      <Packaging>module</Packaging>
      <Resource Name="AnalyzeThis.PKG"/>
      <UnitTest Name="/UnitTests" Package="UnitTests" Phase="test"/>
      <FileCopy Name="Assets/AnalyzeThis_Cover.png" Target="${cspdir}broker/covers/AnalyzeThis_Cover.png"/>
      <Invokes>
       <Invoke Class="AnalyzeThis.Installer" Method="RunInstaller">
        </Invoke>
      </Invokes>
    </Module>

  </Document>
</Export>
